.library-body{
    width: 100%;
    height: 90%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto ;
    justify-content: space-between;
}

.playlist-card{
    position: relative;
    width: 15%;
    height: 38%;
    border-radius: 20px ;
    background-color: #695980 ;
    border: 1px solid white ;
    padding: 3%;
    margin: 2%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 16%, rgba(44,24,73,1) 52%, rgba(24,13,48,1) 91%);
    transition: all 0.3s ease;
    cursor: pointer;
}

.playlist-card:hover{
    transform: scale(1.02);
}

.playlist-card:hover .playlist-fade{
    opacity: 1;
}

.playlist-title{
    font-weight: 700;
    font-size: 16px;
    color: #b9b1c5;
    margin: 5px 0px 0px 0px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.playlist-subtitle{
    font-weight: 500;
    font-size: 14px;
    color: #a4a4a4;
    margin: 10px 0px 0px 0px;
}

.playlist-image{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 15px;
}

.playlist-fade{
    color:#b09bc0 ;
    height: 34%;
    width: 84%;
    opacity: 0;
    border-radius: 20px;
    background: rgb(36,33,66);
    background: linear-gradient(180deg, 
    rgba(36,33,66,0) 13%, 
    rgba(70,49,99,0.5225464190981433) 52%, 
    rgba(37,22,68,1) 93%);

    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8%;

    transition: 0.3s ease;

}


/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #23133d;
    border-radius: 10px;
}